body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background: url(images/FondoWeb.png);
  background-attachment: fixed;
  color: #fff;
}

.abajo{
  border-radius: 15%;
  width: 300px;
  height: 300px;
  padding: 0px;
  box-shadow: 5px 5px 0px #5c5c5c;
}

a{
  color: aqua;
}

.github{
  text-align: center;
  position: fixed;
  bottom: 2%;
  margin: auto;
}

.padre{
  font-size: 1rem;
  position: relative;
  border-top: 125px solid rgba(0, 0, 0, 0);
  margin: auto;
  width: 70%;
  height: 1500px;
  background: rgba(0, 0, 0, .75);
}

.juego{
  position: relative;

  width: 600px;
  margin:auto; 
}